.mainContacto {
  section {
    margin: 10px;
    padding: 10px;
    text-align: justify;
    justify-content: center;
    p {
      margin: 10px;
      padding: 10px;
    }
  }
}
.selectorContacto {
  margin: 10px;
  padding: 10px;
}

.formularioMesa form {
  display: flex;
  align-items: flex-start;
  margin: 10px;
  padding: 20px;
  flex-direction: column;
}

.inputContacto {
  padding: 10px;
  border-radius: 10px;
}

.suscripcion {
  padding: 10px;
  align-items: flex-start
}

.formularioMesa .formularioContacto {
  textarea, input {
    @include inputPadding;
  }
}

.contactoAccordion {
  margin: 10px;
  padding: 10px;
}
